{% set active_page = "legal" %}
{% extends "base.html" %}

{% block content %}

<!-- <div class="row"> -->
  <!-- <div class="twelve columns"> -->
    <!-- <b>Last updated on 2022-09-24</b> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <br> -->

<div class="row">
  <div class="six columns">
    <button class="button-primary-filled" id="privacy-policy-button" onclick="toggle();">
      Privacy Policy
    </button>
  </div>
  <div class="six columns">
    <button class="button-primary-hollow" id="terms-of-service-button" onclick="toggle();">
      Terms of Service
    </button>
  </div>
</div>
<br>
<br>

<div id="privacy-policy" style="display: block;">
  <div class="row">
    <div class="twelve columns">
      <h2>Privacy Policy</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      Your privacy is important to us. It is {{ config["COMPANY_NAME"] }}'s policy to respect your privacy regarding any information we may collect from you across our website, <a href="{{ config['COMPANY_URL'] }}">{{ config["COMPANY_URL"] }}</a>, and other sites we own and operate.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      We also let you know why we're collecting it and how it will be used. We only retain collected information for as long as necessary to provide you with your requested service.
      What data we store, we'll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      We don't share any personally identifying information publicly or with third parties, except when required to by law. Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies
    </div>
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services. Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
    </div>
  </div>
</div>

<div id="terms-of-service">
  <h4>1. The Terms</h4>
  <p>By accessing the website at <a href="{{ config['COMPANY_URL'] }}">{{ config["COMPANY_URL"] }}</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
  <h4>2. Use Licence</h4>
  <ol type="a">
     <li>Permission is granted to temporarily download one copy of the materials (information or software) on <b>{{ config["COMPANY_NAME"] }}</b>'s website for personal, non-commercial transitory viewing only. This is the grant of a licence, not a transfer of title, and under this licence you may not:
     <ol type="i">
         <li>modify or copy the materials;</li>
         <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
         <li>attempt to decompile or reverse engineer any software contained on <b>{{ config["COMPANY_NAME"] }}</b>'s website;</li>
         <li>remove any copyright or other proprietary notations from the materials; or</li>
         <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
     </ol>
      </li>
     <li>This licence shall automatically terminate if you violate any of these restrictions and may be terminated by <b>{{ config["COMPANY_NAME"] }}</b> at any time. Upon terminating your viewing of these materials or upon the termination of this licence, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
  </ol>
  <h4>3. Disclaimer</h4>
  <ol type="a">
     <li>The materials on <b>{{ config["COMPANY_NAME"] }}</b>'s website are provided on an 'as is' basis. <b>{{ config["COMPANY_NAME"] }}</b> makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
     <li>Further, <b>{{ config["COMPANY_NAME"] }}</b> does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
  </ol>
  <h4>4. Limitations</h4>
  <p>In no event shall <b>{{ config["COMPANY_NAME"] }}</b> or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on <b>{{ config["COMPANY_NAME"] }}</b>'s website, even if <b>{{ config["COMPANY_NAME"] }}</b> or a <b>{{ config["COMPANY_NAME"] }}</b> authorised representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
  <h4>5. Accuracy of materials</h4>
  <p>The materials appearing on <b>{{ config["COMPANY_NAME"] }}</b>'s website could include technical, typographical, or photographic errors. <b>{{ config["COMPANY_NAME"] }}</b> does not warrant that any of the materials on its website are accurate, complete or current. <b>{{ config["COMPANY_NAME"] }}</b> may make changes to the materials contained on its website at any time without notice. However <b>{{ config["COMPANY_NAME"] }}</b> does not make any commitment to update the materials.</p>
  <h4>6. Links</h4>
  <p><b>{{ config["COMPANY_NAME"] }}</b> has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by <b>{{ config["COMPANY_NAME"] }}</b> of the site. Use of any such linked website is at the user's own risk.</p>
  <h4>7. Modifications</h4>
  <p><b>{{ config["COMPANY_NAME"] }}</b> may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
  <h4>8. Governing Law</h4>
  <p>These terms and conditions are governed by and construed in accordance with the laws of The United Kingdom and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
</div>
{% endblock content %}

{% block scripts %}
<script>
  // toggle();
  function toggle() {
    console.log("toggle")

    const button1 = document.getElementById("privacy-policy-button");
    const div1 = document.getElementById("privacy-policy");
    const button2 = document.getElementById("terms-of-service-button");
    const div2 = document.getElementById("terms-of-service");

    console.log(div1);
    console.log(div2);

    button1.classList.toggle("button-primary-filled");
    button1.classList.toggle("button-primary-hollow");
    if (div1.style.display == "block") {
      div1.style.display = "none";
    } else {
      div1.style.display = "block";
    }

    console.log(div2.style.display == "block");
    button2.classList.toggle("button-primary-filled");
    button2.classList.toggle("button-primary-hollow");
    if (div2.style.display == "block") {
      div2.style.display = "none";
    } else {
      div2.style.display = "block";
    }
    console.log(div1);
    console.log(div2);

    console.log();
    console.log();

  }

  const div2 = document.getElementById("terms-of-service");
  div2.style.display = "none";

</script>
{% endblock scripts %}
